<div class="jumbotron">
  <h2><%= gettext "Welcome to HelloELm Demo App" %></h2>
  <p class="lead">Eventually this will show how to connect Elm and Elixir.</p>
  <p class="lead">But right now it does not work.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Hello From Phoenix index.html.eex</h4>
  </div>
</div>

<div id="elm-main"></div>